.layout {

  &__button {
    flex: 0 0 auto;

    &-wrapper {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
    }
  }

  &__text {
    &-wrapper {
      display: flex;
    }

    flex: 1 1 auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-right: 0;
    background-color: white;

    &:last-of-type {
      border-right: 1px solid black;
    }
  }
}